# Forces playbooks treated as yaml by github
*.yml linguist-detectable=true
*.yaml linguist-detectable=true
*.j2 linguist-detectable=true

*.yml linguist-language=YAML
*.yaml linguist-language=YAML

*.j2 linguist-language=Jinja
