# Credentials

credentials.auto.tfvars

# vagrant

.vagrant/

# Terraform

.terraform/
terraform.tfstate
terraform.tfstate.backup

# Ansible

.ansible/
**/.ansible/

# Project conf

debug/

# Generated inventory

inventory.yaml

# Python

.venv/

# vim

*.swp

# MacOs

.DS_Store

argo_password.txt
secrets.yaml
secrets.yml
