# vi: ft=nginx.conf
server {
    listen 80;
    listen [::]:80;

    server_name {{ project.domains[0].name }}
    {% for domain in project.domains[1:] %}
            {{ domain.name }}
    {% endfor %};

    location / {
        proxy_pass http://{{ project.name }}_proxy;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{ project.domains[0].name }}
    {% for domain in project.domains[1:] %}
            {{ domain.name }}
    {% endfor %};

    ssl_certificate /etc/ssl/certs/{{ project.name }}.crt;
    ssl_certificate_key /etc/ssl/private/{{ project.name }}.key;

    location / {
        proxy_pass http://{{ project.name }}_proxy;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
